<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a style="font-size: 15px; color: rgb(247,253,247)">INICIO</a>
  </ion-toolbar> 
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/LUCiFRAi.png" alt="LUCiFRAi">
  <app-explore-container name="Tab 1 page"></app-explore-container>
  <div id="container">
  <br>
  <br>
  <br>
  <br>
<ion-card>
  <ion-card-header>
    <h1 style="font-size: 25px; color: rgb(252,252,252)">👋¡Hola!...¿todo bien?...gracias por visitarme.</h1>
    <h1 style="font-size: 25px; color: rgb(252,252,252)">🤔¿Tienen tu negocio y vos una <a style="color: rgb(110, 110, 230)">verdadera identidad virtual</a>?</h1>
  </ion-card-header>
<ion-card-content>
<br>
<ion-card color="light">
<ion-card-header>
    <ion-card-title><h1 style="font-size: 30px; color: rgb(110, 110, 230)">¿Una “Fan Page"?</h1><h1 style="font-size: 30px; color: rgb(110, 110, 230)">¿como Facebook o Instagram?:</h1></ion-card-title>
</ion-card-header>
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">Si bien estos perfiles comerciales de redes sociales ayudan a tu negocio a través del contacto con seguidores y clientes, no es suficiente para poder alcanzar una meta clara que todo emprendimiento (sin importar su tamaño) necesita: una verdadera presencia virtual profesional que solo se logra con un sitio web propio y único.</a>
</ion-card-content>
</ion-card>
<br>
<ion-card color="light">
<ion-card-header>
    <ion-card-title><h1 style="font-size: 30px; color: rgb(110, 110, 230)">Cuentas claras, sin eufemismos técnicos:</h1></ion-card-title>
</ion-card-header>
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">¿Estás cansad@ de que te vendan servicios web con costos inflados y promesas vacías? Los grandes "monstruos" de arriba, siendo soluciones "gratuitas", siempre tienen una trampa oculta: ya sea en el precio casi inaccesible de alojamiento de bases de datos (marketplaces) cuando necesitas escalar tu negocio, o en la dependencia de plataformas gratuitas saturadas de publicidad, distracciones visuales, competencias que lucen igual que vos y cortes de flujo en la interacción de tus productos y los clientes.<br>
<br>
Te propongo una solución informática transparente: una identidad virtual sencilla, elegante e intuitiva, sin los dinamismos complejos que sentencian tu bolsillo. Con una solución estática y personalizada, aseguro que tu emprendimiento tenga la visibilidad justa que necesita, permitiéndote escalar tu presencia digital al ritmo de tu negocio físico, sin gastar una fortuna.</a>
</ion-card-content>
</ion-card><br>

<ion-card color="light">
<ion-card-header>
    <ion-card-title><h1 style="font-size: 30px; color: rgb(110, 110, 230)">Diseño personalizado en función de tus necesidades:</h1></ion-card-title>
</ion-card-header>
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">Te propongo una colaboración directa: vos y yo, trabajando como un equipo de desarrollo. Vos definís los requerimientos y yo ejecuto el trabajo arduo:<br>
<br>
<a style="color: rgb(247,253,247)"><a style="color: rgb(110,110,230)">-</a> Diseño y tecnología</a>:<br>
Programación subyacente y diseño visual, adaptado 100% a tu identidad.<br>
<br>
<a style="color: rgb(247,253,247)"><a style="color: rgb(110,110,230)">-</a> Hosting y mantenimiento</a>:<br>
Me ocupo del alojamiento físico y las actualizaciones. A través de mi experiencia, tus ideas y las mías se van a implementar de forma continua (en momentos controlados del día según mi disponibilidad laboral) para optimizar y actualizar el sitio.<br>
<br>
<a style="color: rgb(247,253,247)"><a style="color: rgb(110,110,230)">-</a> Gestión de activos</a>:<br>
Recolección e implementación de tus fotos, videos, textos, secciones, etc.<br>
<br>
<strong><a style="color: rgb(110,110,230)">🧐 Tu único trabajo es darme la visión. Del código y el mantenimiento me encargo yo.</a></strong></a>
</ion-card-content>
</ion-card>

<ion-card-header>
    <ion-card-title><h1 style="font-size: 30px; color: rgb(110, 110, 230)">EN CONSTRUCCIÓN</h1></ion-card-title>
</ion-card-header>






</ion-card-content>
</ion-card>
</div>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button size="large" color="success" href="https://api.whatsapp.com/send/?phone=5492214379493&text=LUCiFRAi Hola!, quería hacerte la siguiente consulta/sugerencia: &type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>