<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a style="font-size: 15px; color: rgb(247,253,247)">INICIO</a>
  </ion-toolbar> 
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/LUCiFRAi.png" alt="LUCiFRAi">
  <app-explore-container name="Tab 1 page"></app-explore-container>
  <div id="container">
  <br>
  <br>
  <br>
  <br>
<ion-card>
  <ion-card-header>
    <ion-card-title style="font-size: 25px; color: rgb(252,252,252)">👋 ¡Hola!...¿Todo bien?</ion-card-title>
    <ion-card-subtitle style="font-size: 20px">¡Gracias por visitarme!</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
<br>
<h1 style="font-size: 25px; color: rgb(252,252,252)">¿Tienen tu negocio y vos una <a style="font-size: 25px; color: rgb(110, 110, 230)">verdadera identidad virtual</a>?</h1><br>
<ion-card color="light">
<ion-card-header>
    <ion-card-title><h1 style="font-size: 30px; color: rgb(110, 110, 230)">¿Una “Fan Page"?</h1><h1 style="font-size: 30px; color: rgb(110, 110, 230)">¿como Facebook o Instagram?</h1></ion-card-title>
</ion-card-header>
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">Si bien estos perfiles comerciales de redes sociales ayudan a tu negocio a través del contacto con seguidores y clientes, no es suficiente para poder alcanzar una meta clara que todo emprendimiento (sin importar su tamaño) necesita: una verdadera presencia virtual profesional que solo se logra con un sitio web propio y único.</a>
</ion-card-content>
</ion-card>
<br>
<ion-card color="light">
<ion-card-header>
    <ion-card-title><h1 style="font-size: 30px; color: rgb(110, 110, 230)">¿Cansad@ de eufemismos técnicos por parte de desarrolladores, empresas de diseño web y/o grandes monstruos como los nombrados arriba, que solo piensan en su beneficio directo sin importar el tuyo?</h1></ion-card-title>
</ion-card-header>
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">Las cuentas y palabras claras son posibles: te ofrezco una identidad virtual con un diseño elegante, intuitivo, personalizado y sencillo, sin dinamismos que complican no solo tu bolsillo, sino también el flujo de interacción entre el cliente y tu emprendimiento.</a>
</ion-card-content>
</ion-card>
<ion-card color="light">
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">Cuando digo cuentas claras, no es más ni menos que el punto crucial en la contratación de este tipo de servicio informático: si te prometen facilidad para los usuarios y para vos a través de tecnologías con TODO armado (como por ejemplo la adquisición de bases de datos, marketplaces, etc.), es negativo para tu bolsillo, ya que el solo hecho de alojar y/o contratar estos servicios es CARO, sentenciándote a no tener acceso a esa posibilidad, o a no poder escalar sin gastar una fortuna una vez inmerso (escalar significa crecer virtualmente, como lo haría tu emprendimiento físico dependiendo de la oferta y demanda que tenga).</a>
</ion-card-content>
</ion-card>
<ion-card color="light">
<ion-card-content>
<a style="font-size: 17px; color: rgb(252,252,252)">Por otro lado, si es totalmente gratis, dudá: ya que lo gratis también cuesta CARO, porque estarías dependiendo, por ejemplo, de que tu negocio aflore en un lugar donde hay miles que hacen lo mismo y lucen igual que vos, sin contar la cantidad excesiva de publicidad y distracción visual que éstas generan (por brindarte ese espacio "gratuito").</a><br>
<br>
🤓🧐 <a style="font-size: 20px; color: rgb(148, 148, 148)">Chequeá el siguiente algoritmo:</a><br>   <!-- rgb(148, 148, 148) -->
<br>
<a style="font-size: 30px; color: rgb(110, 110, 230)">Igualdad</a><a style="font-size: 17px; color: rgb(252,252,252)"> = más de lo mismo.</a><br>
<a style="font-size: 30px; color: rgb(110, 110, 230)">Más de lo mismo</a><a style="font-size: 17px; color: rgb(252,252,252)"> = aburrido y sin identidad.</a><br>
<a style="font-size: 30px; color: rgb(110, 110, 230)">Aburrido y sin identidad</a><a style="font-size: 17px; color: rgb(252,252,252)"> = poca visibilidad y pocas ventas.</a>
</ion-card-content>
</ion-card>








<br>
Para <b><a style="font-size: 20px; color: rgb(110, 110, 230)">información relevante sobre las visitas domiciliarias</a></b>, dirigite directamente a su sección (o apretá <b><a href="/tabs/tab2" style="font-size: 20px; color: rgb(110, 110, 230)">acá</a></b>).
<br>
<br>
En el caso de que quieras comentarnos o sugerirnos algo, contás con la botonera superior donde están todas nuestras redes sociales, incluyendo nuestro mail (apretá en el mismo para que se abra automáticamente tu app de correo favorita).
<br>
<br>
¡Sentite libre de explorar nuestro sitio y descubrí todo lo que este perrito juguetón y el gatito mutante tienen para ofrecerte, a vos y a tus <b><a style="font-size: 20px; color: rgb(110, 110, 230)">fieles compañer@s</a></b>!
</ion-card-content>
</ion-card>
</div>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button size="large" color="success" href="https://api.whatsapp.com/send/?phone=5492214379493&text=LUCiFRAi Hola!, quería hacerte la siguiente consulta/sugerencia: &type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>

