<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a style="font-size: 15px; color: rgb(247,253,247)">PRECIOS</a>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="img-responsive" src="assets/LUCiFRAi.png" alt="LUCiFRAi">
  <app-explore-container name="Tab 3 page"></app-explore-container>
  <div id="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <a style="font-size: 15px; color: rgb(247,253,247)">PRECIOS</a>
  </div>
</ion-content>
<ion-fab slot="fixed" vertical="top" horizontal="center">
  <ion-fab-button size="large" color="success" href="https://api.whatsapp.com/send/?phone=5492214379493&text=LUCiFRAi Hola!, quería hacerles la siguiente consulta/sugerencia: &type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
  <ion-icon color="dark" name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>